
.masthead{    
   
    text-align: center;
    color: white;
    background-image: url(2.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    font-family:cursive;
    
    
     width: 100vw;
     height: 130vh;
 
    
}
    .heightAdder{height: 1000px;}

    @media (min-width: 992px) {
          #mainNav {
            padding-top: 25px;
            padding-bottom: 25px;
            -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
            -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
            transition: padding-top 0.3s, padding-bottom 0.3s;
            border: none;
            background-color: transparent;
          }
          #mainNav .navbar-brand {
            font-size: 1.75em;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
          }
          #mainNav .navbar-nav .nav-item .nav-link {
            padding: 1.1em 1em !important;
          }
          #mainNav.navbar-shrink {
            padding-top: 0;
            padding-bottom: 0;
            background-color: black;
          }
          #mainNav.navbar-shrink .navbar-brand {
            font-size: 1.25em;
            padding: 12px 0;
          }
}

button{
    
     width: 300px;
     height: 100px;
    
}


.navbar ul li a:hover{
    
    background-color:#8B4513;
       
}

.list-group a:hover{
    
    background-color:#8B4513;
       
}

* {
  box-sizing: border-box;
}


/* Float four columns side by side */
.column {
  float: left;
  width: 50%;
  padding: 0 10px;
}

/* Float four columns side by side */
.column1 {
  float: center;
  width: 100%;
  padding: 0 100px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 20px;
  text-align: center;
 
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
    
}
/* For devices 600px and larger: */
@media only screen and (min-device-width: 600px) {
  body { 
    background-image: url('2.jpg'); 
  }
}
